# Lógica de Programação com Python para Data Science

Montei uma lista com 5 conceitos e aplicações para quem quer começar com os estudos de Python com o foco na carreira de dados. Adicionei alguns exemplos de como utilizamos esses conceitos no dia a dia de um profissional de dados.

Apresento sobre:\
1- Tipos de Dados;\
2- Condições;\
3- Algumas funções básicas que COM CERTEZA você irá usar um dia;\
4- Construindo Funções;\
5- Laços e Loops.

## 1 Tipos de Dados

### 1.1 Booleano
É o tipo de dado que pode atribuir valor 0 ou 1, verdadeiro ou falso. \
\
Um exemplo seria a coluna de "Venda Finalizada" em uma tabela de vendas. Neste caso, essa coluna seria um bolean, pois só existe duas respostas para essa informação, sim ou não (1 ou 0).\
\
Na estatística e na economia chamamos esse tipo de dado de **variável dicotômica**, pois assume dois valores, um que significa a presença e outro a ausência daquela característica.

In [148]:
2 > 1

True

In [125]:
30 < 15

False

In [31]:
venda_finalizada = [1,0,1,1,0]

In [32]:
# Criando uma função que resulta as definições
def finalizadas(venda_finalizada):
    if venda_finalizada == 1:
        print('Venda finalizada.')
    else:
        print('Venda não finalizada.')

# Resultado da primeira linha (venda_finalizada == 1)
finalizadas(venda_finalizada[0])

Venda finalizada.

Quando terminar de estudar a parte de criação de funções, volte aqui.

### 1.2 Inteiro e Flutuante

In [1]:
inteiro = 20
flutuante = 20.5

In [8]:
print(type(inteiro))
print(type(flutuante))

<class 'int'>
<class 'float'>

### 1.3 Palavras (strings)
Strings em python são colocadas entre aspas simples ou duplas.

In [9]:
A = "Olá"
print(A)

Olá

### 1.4 Lista

Lista é uma coleção de valores indexada, em que cada valor é identificado por um índice. O primeiro item na lista está no índice 0, o segundo no índice 1 e assim por diante. Para criar uma lista com elementos deve-se usar colchetes e adicionar os itens entre eles separados por vírgula

In [76]:
analistas = ['Mariana', 'Ester', 'Amanda', 'Samuel', 'Gabriel']
print(type(analistas)) # tipo da variável
print(len(analistas)) # número de elementos
print(analistas[4]) # quinto elemento (o elemento 0 é contado como o primeiro)

<class 'list'>
5
Gabriel

In [39]:
idades = [18,22,15,50]
#          0  1  2  3
#          0 -3 -2 -1

In [40]:
print(idades[2])
print(idades[0:2]) ## O último elemento ele exclui
print(idades[0:3]) ## Pra pegar só os 3 primeiros
print(idades[1:])
print(idades[-1])

15
[18, 22]
[18, 22, 15]
[22, 15, 50]
50

In [41]:
meu_nome = ['Caetano ', 'Mariana ', 'Vidal']
print(meu_nome[-2] + meu_nome[-3] + meu_nome[-1])
print(meu_nome[1] + meu_nome[0] + meu_nome[2])

Mariana Caetano Vidal
Mariana Caetano Vidal

#### Funções em Listas

In [77]:
analistas.append('Ana') ## Adiciona um valor no final da lista

print(analistas)

['Mariana', 'Ester', 'Amanda', 'Samuel', 'Gabriel', 'Ana']

In [78]:
analistas.extend('Ana') ## Adiciona cada caracter na lista, cada um sendo um regristro

print(analistas)

['Mariana', 'Ester', 'Amanda', 'Samuel', 'Gabriel', 'Ana', 'A', 'n', 'a']

In [79]:
analistas.insert(4, 'Ana') ## Insere 'Ana' na posição 4 da lista. Não substitui

print(analistas)

['Mariana', 'Ester', 'Amanda', 'Samuel', 'Ana', 'Gabriel', 'Ana', 'A', 'n', 'a']

In [81]:
analistas.remove('Ana') ## Remove o primeiro item com o valor indicado

print(analistas)

['Mariana', 'Ester', 'Amanda', 'Samuel', 'Gabriel', 'A', 'n', 'a']

In [82]:
analistas.pop(2) ## Remove o item na posição definida e o retorna

'Amanda'

In [84]:
analistas.index('Ester') ## Retorna o index (ou posição) do valor definido

1

In [86]:
analistas.append('ester')
analistas.sort() ## Ordena, em ordem crescente, os valores da lista em order alfabética e tamanho da letra 

print(analistas)

['A', 'Ana', 'Ester', 'Gabriel', 'Mariana', 'Samuel', 'a', 'ester', 'n']

In [88]:
analistas.reverse() ## Ordena, em ordem decrescente, os valores da lista em order alfabética e tamanho da letra 

print(analistas)

['A', 'Ana', 'Ester', 'Gabriel', 'Mariana', 'Samuel', 'a', 'ester', 'n']

In [89]:
analistas_copia = analistas.copy() ## Cria uma cópia da lista

print(analistas_copia)

['A', 'Ana', 'Ester', 'Gabriel', 'Mariana', 'Samuel', 'a', 'ester', 'n']

In [90]:
analistas.clear() ## Remove todos os itens da lista

print(analistas)

[]

#### Diferentes tipos em uma lista

In [81]:
lista = ['Mariana', 24, True, '18']

for elemento in lista:
    print(f'O elemento {elemento} é do tipo: ',  type(elemento))

O elemento Mariana é do tipo:  <class 'str'>
O elemento 24 é do tipo:  <class 'int'>
O elemento True é do tipo:  <class 'bool'>
O elemento 18 é do tipo:  <class 'str'>

In [82]:
lista = ['int', False, True, '18', 2020]

for elemento in lista:
 print(type(elemento))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'int'>

### 1.5 Dicionário

Os dicionários representam coleções de dados que contém na sua estrutura um conjunto de pares chave/valor, nos quais cada chave individual tem um valor associado. A associação nos dicionários é feita por meio de uma chave que faz referência a um valor.

In [33]:
dados_analistas = {
    'Nome': 'Mariana',
    'Endereco': 'Governador Valadares',
    'Telefone': '33901010101'
}
print(dados_analistas)
print(dados_analistas['Nome']) # Retorna apenas os elementos do campo 'nome'

{'Nome': 'Mariana', 'Endereco': 'Governador Valadares', 'Telefone': '33901010101'}
Mariana

Adicionando e Removendo Elementos em um Dicionário:

In [35]:
dados_analistas['Idade'] = 25 # Cria um campo chamado 'Idade'

print(dados_analistas)

{'Nome': 'Mariana', 'Endereco': 'Governador Valadares', 'Telefone': '33901010101', 'Idade': 25}

In [36]:
del dados_analistas['Telefone'] # Deleta o campo 'Telefone'

print(dados_analistas)

{'Nome': 'Mariana', 'Endereco': 'Governador Valadares', 'Idade': 25}

### 1.6 Tupla

Tupla é uma estrutura de dados semelhante a lista. Porém, ela tem a característica de ser imutável, ou seja, após uma tupla ser criada, ela não pode ser alterada.

In [37]:
analistas = ('Mariana', 'Ester', 'Amanda', 'Samuel')
# a variável analistas recebe quatro objetos do tipo string

print(type(analistas)) # retorna o tipo da variável
print(analistas) # retorna os elementos da tupla

<class 'tuple'>
('Mariana', 'Ester', 'Amanda', 'Samuel')

Uma observação a ser feita no uso de uma tupla é que se ela tiver um único item, é necessário colocar uma vírgula depois dele, pois caso contrário, o objeto que vamos obter é uma string, porque o valor do item é do tipo string.

In [38]:
objeto_string = ('cadeira')
objeto_tupla = ('cadeira',)

print(type(objeto_string)) # class 'str'
print(type(objeto_tupla)) # class 'tuple'

<class 'str'>
<class 'tuple'>

## 2 Condições

Igual: a == b\
Diferente: a != b\
Menor que: a < b\
Menor ou igual: a <= b\
Maior que: a > b\
Maior ou igual: a >= b

**if** -> se tal condição for verdadeira, irá retornar X\
**elif** -> se uma segunda condição for verdadeira, irá retornar Y\
**else** -> se nenhuma condição a cima for verdadeira, irá retornar Z

In [48]:
A = 20
B = 500
if B > A: # se B for maior que A, então printe a frase "B é maior que A"
  print("B é maior que A")

# 500 é maior que 20, então a frase irá aparecer

B é maior que A

In [47]:
A = 20
B = 500
if B < A: # se B for menor que A, então printe a frase "B é menor que A"
  print("B é menor que A")

# 500 é maior que 20, então a frase nada irá acontecer

In [51]:
A = 20
B = 500
if B > A: # se B for maior que A, então printe a frase "B é maior que A"
  print("B é maior que A")
elif A == B: # se B for igual a A, então printe a frase "A e B são iguais"
  print("A e B são iguais")

B é maior que A

In [50]:
A = 500
B = 20
if B > A: # se B for maior que A, então printe a frase "B é maior que A"
  print("B é maior que A")
elif A == B: # se B for igual a A, então printe a frase "A e B são iguais"
  print("A e B são iguais")
else: # se nehuma das condições for verdadeiro, então printe a frase "A é maior que B"
  print("A é maior que B")

A é maior que B

In [53]:
A=2

if A < 2: 
 A = A + 1 
else:
 A = A + 2
if A < 4:
 A = A - 4
else:
 A = A + 6

A

10

Temos dois IFs. No primeiro a segunda condição é atendida, então A = 2 + 2 = 4. \
Com A = 4, a segunda condição é atendida novamente, então A = 4 + 6 = 10\
Retornando A = 10

Em um mesmo IF pode haver duas condições contendo AND, OR ou NOT:\
**AND** -> As duas condições precisam ser verdadeiras\
**OR** -> Pelo menos uma das condições são verdadeiras\
**NOT** -> A condição não pode ser verdadeira

In [62]:
A = 300
B = 40
C = 600
if A > B and C > A:
  print("As duas condições são verdadeiras.")

As duas condições são verdadeiras.

In [63]:
A = 300
B = 40
C = 600
if A > B or A > C:
  print("Pelo menos uma das condições são verdadeiras")

Pelo menos uma das condições são verdadeiras

In [66]:
A = 40
B = 300
if not A > B:
  print("A NÃO é maior que B")

A NÃO é maior que B

#### Exemplo Prático 1:
Retornando o cáculo da variação anual do faturamento total e mensagem de parabéns caso o faturamento tenha aumentado mais que o dobro:

In [167]:
f1 = float(input('Faturamento do primeiro ano: '))
f2 = float(input('Faturamento do segundo ano: '))

variacao = ((f2 - f1)/f1)*100

print('A variação foi de {:.2f}%'.format(variacao))

if variacao >= 100:
    print('Muito bom!! Dobramos nosso faturamento!')
else:
    print('É, precisamos melhorar nossos indicadores.')

Faturamento do primeiro ano: 212
Faturamento do segundo ano: 23
A variação foi de -89.15%
É, precisamos melhorar nossos indicadores.

#### Exemplo Prático 2:
Retornando o valor da multa com base no número de vendas que tiveram chargeback caso a taxa de chargeback seja superior ou igual a 1,5%:

In [168]:
chargeback = float(input('Qual o número de vendas com chargeback? '))
taxa_chargeback = float(input('Qual a taxa de chargeback? '))

if taxa_chargeback >= 1.5:
    print('O preço da sua multa será de R${}'.format(chargeback*5))
else:
    print('Não será multado')

Qual o número de vendas com chargeback? 23
Qual a taxa de chargeback? 2
O preço da sua multa será de R$115.0

## 3 Algumas funções básicas que COM CERTEZA você irá usar um dia

Na programação, funções são blocos de código que realizam determinadas tarefas que normalmente precisam ser executadas diversas vezes dentro de uma aplicação. Quando surge essa necessidade, para que várias instruções não precisem ser repetidas, elas são agrupadas em uma função, à qual é dado um nome e que poderá ser chamada/executada em diferentes partes do programa.\
**print( )**, por exemplo, é uma função que retorna na tela os elementos selecionados.\
Aqui tem alguns exemplos de funções do Python que possivelmente você irá usar:

**type()**

In [95]:
professores = ['Carla', 'Daniel', 'Ingrid', 'Roberto']
estacoes = ('Primavera', 'Verão', 'Outono', 'Inverno')
cliente = {
    'Nome': 'Fábio Garcia',
    'email' : 'fabio_garcia_9@outlook.com'
}

print(type(professores)) # Tipo do dado
print(type(estacoes)) 
print(type(cliente))

<class 'list'>
<class 'tuple'>
<class 'dict'>

**len()**

In [91]:
ch = 'Georges'
print(len(ch)) ## Conta o número de caracteres

7

In [56]:
paises = ['Argentina', 'Brasil', 'Colômbia', 'Uruguai']

print(len(paises)) # 4

4

**min() e max()**

In [92]:
numeros = [15, 5, 0, 20, 10]
nomes = ['Caio', 'Alex', 'Renata', 'Patrícia', 'Bruno']

print(min(numeros)) # Valor mínimo
print(max(numeros)) # Valor máximo
print(min(nomes))
print(max(nomes))

0
20
Alex
Renata

**sum()**

In [93]:
numeros = [1, 3, 6]

print(sum(numeros)) # Soma

10

**range()**

In [100]:
for i in range(6):
    print(i)

0
1
2
3
4
5

## 4 Construindo Funções

"Aaa, mas não tem uma função que retorna o que eu preciso." \
Então é só você criar uma! :D

In [58]:
def saudacao():
    nome = input('Qual o seu nome? ')
    print(f'Olá, {nome}! Tudo bem com você?')

saudacao()

Qual o seu nome? Mari
Olá, Mari! Tudo bem com você?

In [59]:
def nome_completo(): 
 primeiro_nome = input('Qual seu primeiro nome? ')
 sobrenome = input('Qual seu sobrenome? ')
 nome_inteiro = primeiro_nome + ' ' + sobrenome
 print(nome_inteiro)

nome_completo()

Qual seu primeiro nome? Mariana
Qual seu sobrenome? Caetano
Mariana Caetano

In [60]:
# Função com Parâmetro

nome = 'Mariana'

def saudacao_com_parametros(nome_da_pessoa):
    print(f'Olá, {nome_da_pessoa}! Tudo bem com você?')
    
saudacao_com_parametros(nome)

Olá, Mariana! Tudo bem com você?

In [90]:
# Função com Condicional

taxa_chargeback = 3

def verificacao_saque(taxa_chargeback):
    if taxa_chargeback >= 1.5:
        print('Saldo parcialmente bloqueado!')
    else:
        print('Saldo liberado!')
        
verificacao_saque(taxa_chargeback)

Saldo parcialmente bloqueado!

In [91]:
# Conversão de tipo de dado

def verificacao_saque_sem_parametros():
    taxa_chargeback = input('Qual sua taxa de chargeback? ')
    taxa_chargeback = int(taxa_chargeback)
    if taxa_chargeback >= 1.5:
        print('Saldo parcialmente bloqueado!')
    else:
        print('Saldo liberado!')
        
verificacao_saque_sem_parametros()

Qual sua taxa de chargeback? 3
Saldo parcialmente bloqueado!

In [95]:
def saque():
    taxa_chargeback = input('Qual sua taxa de chargeback? ')
    taxa_chargeback = int(taxa_chargeback)
    if taxa_chargeback < 1.5:
        print('Saldo liberado!')
    else:
        reducao = taxa_chargeback - 1.49
        print(f'Reduza sua taxa de chargeback em {reducao} p.p para o saque integral.')

saque()

Qual sua taxa de chargeback? 10
Reduza sua taxa de chargeback em 8.51 p.p para o saque integral.

## 5 Laços e Loops

In [102]:
taxas = [3,1,0.3,9,0.8]

In [106]:
# for fora da função

def verificacao_saque(taxa):
    if taxa >= 1.5:
        print(f'Sua taxa de chargeback é de {taxa}%. Você terá o saldo parcialmente bloqueado por 180 dias.')
    elif taxa >= 5:
        print(f'Sua taxa de chargeback é de {taxa}%. Você terá o saldo integralmente bloqueado por 90 dias.')
    else:
        print(f'Sua taxa de chargeback é de {taxa}%. O seu saldo está liberado.')
        
# Para cada idade na nossa lista:
for taxa in taxas:
    verificacao_saque(taxa)

Sua taxa de chargeback é de 3%. Você terá o saldo parcialmente bloqueado por 180 dias.
Sua taxa de chargeback é de 1%. O seu saldo está liberado.
Sua taxa de chargeback é de 0.3%. O seu saldo está liberado.
Sua taxa de chargeback é de 9%. Você terá o saldo parcialmente bloqueado por 180 dias.
Sua taxa de chargeback é de 0.8%. O seu saldo está liberado.

In [107]:
# for dentro da função

def verificacao_saque(taxa):
    for taxa in taxas:
        if taxa >= 1.5:
            print(f'Sua taxa de chargeback é de {taxa}%. Você terá o saldo parcialmente bloqueado por 180 dias.')
        elif taxa >= 5:
            print(f'Sua taxa de chargeback é de {taxa}%. Você terá o saldo integralmente bloqueado por 90 dias.')
        else:
            print(f'Sua taxa de chargeback é de {taxa}%. O seu saldo está liberado.')
        
verificacao_saque(taxa)

Sua taxa de chargeback é de 3%. Você terá o saldo parcialmente bloqueado por 180 dias.
Sua taxa de chargeback é de 1%. O seu saldo está liberado.
Sua taxa de chargeback é de 0.3%. O seu saldo está liberado.
Sua taxa de chargeback é de 9%. Você terá o saldo parcialmente bloqueado por 180 dias.
Sua taxa de chargeback é de 0.8%. O seu saldo está liberado.

In [152]:
saldo_bloqueado = []
taxas = [3,1,0.3]

def verificacao_saque(taxas, saldo_bloqueado):
    for taxa in taxas:
        if taxa >= 1.5:
            saldo_bloqueado.append(True)
        else:
            saldo_bloqueado.append(False)
            
verificacao_saque(taxas, saldo_bloqueado)

In [153]:
saldo_bloqueado

[True, False, False]

In [154]:
for saldo in saldo_bloqueado:
    if saldo == True:
        print('Saldo parcialmente bloqueado')
    else:
        print('Saldo liberado')

Saldo parcialmente bloqueado
Saldo liberado
Saldo liberado